@import "./reset.css";


font-face {
    font-family: 'TimesTen';
    src: url('../fonts/TimesTenLTStd-Roman.otf');
}

body {
    font-family: 'TimesTen';
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    line-height: 1.2rem;

}

a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
}

input {
    border: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid black;
    background: white;
    padding: 0;
    margin: 0;
    line-height: 1.2rem;
    font-size: 18px;
    font-family: 'TimesTen';
    margin-left: 20px;
}

input.btn {
    border: 0px;
    margin-left: 5px;
}

a>h2:hover {
    background-color: black;
    color: white;
}

a p:hover {
    background-color: black;
    color: white;
}

p {
    font-size: 18px;
    width: max-content;
}

h2 {
    font-size: 28px;
    padding-top: 8px;
    padding-bottom: 4px;
    width: max-content;

}

/* h2:hover {
    background-color: black;
    color: white;
} */


ul {
    padding: 20px;
    font-size: 18px;
}


.flex-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: calc(100vh);
}

.column {

    width: calc((100% / 3) - (40px / 3));
    margin-right: 20px;
}

.column:nth-child(3n) {
    margin-right: 0;
}

.column>div {
    width: 100%;
}

.homepage>.column>a {
    flex-grow: 1;
}

img {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}




.homepage img {

    margin: 0px;
}

.show {
    display: flex !important;
    flex-direction: column;
}

.homepage .flex-container {
    align-items: flex-end;
}

.homepage .column {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: flex-end;
}

.column1,
.column3 {
    padding-bottom: 28px;
}

.category,
.about {
    display: none;
    width: calc((100% / 3) - (10px / 2));
    margin-right: 20px;
    position: fixed;
    min-height: 100vh;
    background: white;
    border-right: 1px solid black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    z-index: 5000;
}


li>p {
    margin-left: 20px;
}


.img-wrap {
    position: relative;
}

.homepage .img-wrap {
    display: none;
}

.img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.42);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img-description>p {

    background-color: black;
    color: white;
}



.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}

.bottom-h2 {
    margin-bottom: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom-h2>h2 {
    margin-top: auto;
}




.index>.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.index .img-wrap {
    margin-bottom: 20px;
}

.index img {
    margin: 0px;
    height: 100%;
}



.flex-small {
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;

}

.flex-small>h2 {
    margin-right: 10px;
}


.details {
    display: none;
    width: calc(100% / 1.355);
    margin-right: 20px;
    position: absolute;
    position: fixed;
    top: 0;
    min-height: 100vh;
    background: white;
    border-right: 1px solid black;
    padding: 20px;
    height: 100vh;
    overflow: scroll;
    z-index: 5000;

}

.details-images>img {
    display: none;
}

.info-container {
    max-width: 300px;

}

.info-container>p {
    width: 100%;
    padding-top: 20px;
}

.info-container>ul {
    padding: 0px;
    padding-top: 20px;
}

.info-container span {

    padding-left: 20px;
}

.info-container .bottom {
    padding-bottom: 20px;
}

.small-column {
    width: calc((100% / 4) - (40px / 3));
}

.details .flex-container {
    padding: 20px 0px;
    min-height: 0;
}

.bottom-about {
    flex-grow: 1;
    text-align: inherit;
    display: flex;
    align-items: self-end;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search h2 {
    padding-bottom: 0px;
}

.search input {
    flex-grow: 1;
}

.p-right {
    padding-left: 5px;
}

.column1 p,
.column3 p {
    font-size: 30px;
    padding: 4px;
}